<!--<div class="back" align="left">
    <h2><b>DEVELOPER WEB & MOVIL</b></h2>
    
    <h1><b> PORTAFOLIO</b></h1>
    <h2 class="nomb"> ADRIAN GUEVARA </h2>
  </div>
  <div class="back">
    <h2 class="nomb"> ADRIAN GUEVARA </h2>
  </div>-->
<div class="container">
  <div class="back">
    <div align="center">
      <nav>
        <a routerLink="/home">Home</a>
        <a routerLink="/skills">Skills</a>
        <a routerLink="/education">Education</a>
        <a routerLink="/aboutme">About me</a>
        <a routerLink="/portfolio">Portfolio</a>
        <a routerLink="/partners">Partners</a>
      </nav>
    </div>
    <span class="text">Portfolio</span>
    <h2> ADRIAN GUEVARA </h2>
    <h2 class="tw" #tw></h2>
  </div>
</div>
